<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="imdbUrl" value="https://www.imdb.com/"></parameter>
		<parameter name="wikiUrl" value="https://www.wikipedia.org/"></parameter>
		<classes>
			<class name="tests.CompareTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
